PORT=5000
MONGO_URI=
MONGO_DB_NAME=findroom_db
MYSQL_HOST=
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=findroom_db
JWT_SECRET=findroom-dev-secret
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
